.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.logo{
    width: 100px;
}
.nav-items > ul {
    display: flex;
    margin: 0px 60px;
    list-style-type: none;
    
}

.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.res-card{
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
    width: 220px;
     

}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-container{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    
}
.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
    height: 100%;
}
.res-img{
    height: 170px;
}
.btn-login{
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
display: flex;
justify-content: center;
align-items: center;
}
.shimmerUI{
    background-color: #f0f0f0;
    width: 220px;
    margin: 5px;
    padding: 5px;
    height: 400px;
}

.user{
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    width: 800px;
    
}